      {% extends "base.html" %}
      {% block content %}      
      <div class="flashes mt-2 mb-2 text-danger">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <h4>CSV till XML för 'Business for Utilities'</h4>
      <p style="font-size: 14px"><i>För funktionen 'Importera prisradspriser'</i></p>
      <form method=post enctype=multipart/form-data>
      <div class="input-group mt-3">      
        <input type=file name=file class="form-control" id="fileform">
        <input type=submit value=Skicka class="btn btn-outline-secondary">
        </form>
      </div>
      <div class="mt-5" style="font-size: 12px">
        <p>Källfilen skall vara sparad som <i>CSV (kommaavgränsad)</i> i Excel</p>
        <p>Datum skall vara i formatet ÅÅÅÅ-MM-DD</p>
        <p>Priser skall ha en punkt som öresavgränsare t.ex. <i>145.9</i></p>
        <p>I första kolumnen skall det stå ordet <i>ProductRowPrice</i></p>
        <p>I andra kolumnen skall det stå <u>prislistans</u> externa referens</p>
        <p>I tredje kolumen skall det stå <u>produktens</u> externa referens</p>
        <p>I fjärde kolumnen skall det stå ordet <i>ImportFixedPrices_2</i></p>
        <p>Filen måste heta <i>ProductRowPrices.xml</i> när den importeras i BFU</p>
        <p class="mt-5">Ladda ner CGIs exempelfil <a class="text-primary text-decoration-none" href="{{ url_for('example') }}">här</a></p>
      </div>      
      {% endblock %}
